body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(0deg, rgba(145,216,255,1) 0%, rgba(255,255,255,1) 100%) fixed;
    margin: 0px;
}

.header {
    background-color: #FEC675;
    height: 130px;
    margin-top: 0px;
    padding: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}

.header h1 {
    color: white;
    font-weight: 400;
    font-size: 50px;
    margin: 0px;
    /* padding: 20px; */
    display: inline-block;
}

#icon-container {
    color: white;
    display: inline-block;
    padding: 20px 30px;
}

.fa-user {
    font-size: 75px;
}

#subtitle-container {
    height: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subtitle {
    font-weight: bold;
    font-size: 80px;
    color: #FEC675;
}

#button-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testing-button {
    height: 150px;
    width: 500px;
    margin: 60px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 30px;
    border: 0px;
    background-color: #5E9AF1;
    color: white;
}

.testing-button:hover {
    background-color: lightgray;
    color: #5E9AF1;
    cursor: pointer;
}

.testing-button a
{
    text-decoration: none;
    color: white;
}

.testing-button:hover a
{
    text-decoration: none;
    color: #5E9AF1;
}

/*************************
    reaction.html CSS
*************************/

#reaction-subtitle-container
{
    height: 50px;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reaction-subtitle
{
    font-weight: bold;
    font-size: 60px;
    color: #FEC675;
}

#start-button-container
{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reaction-start-button
{
    height: 100px;
    width: 400px;
    margin: 60px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 30px;
    border: 0px;
    background-color: #5E9AF1;
    color: white;
}

#reaction-start-button:hover
{
    background-color: lightgray;
    color: #5E9AF1;
    cursor: pointer;
}

.time-box
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.time
{
    font-size: 25px;
    padding: 5px;
}

#time-output
{
    font-size: 25px;
    padding: 5px;
}


.username-container
{
    border: 0px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.user-input-label
{
    padding-right: 5px;
    font-size: 20px;
}

#username-button
{
    padding-left: 10px;
}

#submit-username-button
{
    height: 20px;
    width: 60px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 0px;
    background-color: #5E9AF1;
    color: white;
}

#submit-username-button:hover
{
    background-color: lightgray;
    color: #5E9AF1;
    cursor: pointer;
}

.leaderboard-contents
{
    margin: 20px;
    padding: 20px;
    border: 0px;
}

.log-contents
{
    margin: 20px;
    padding: 20px;
    border: 0px;
}

#green-hidden {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #5fc64f;
}

#hidden {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #bf0000;
}

/*************************
    memory.html CSS
*************************/
img {
    display: block;
}

.hidden {
    display: none; 
}

header {
    background-color: #FEC675;
    display: flex;
    align-items: center;
    position: relative;
}

header a {
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title {
    text-decoration: none;
    font-size: 50px;
    font-weight: 400;
    margin: 0 0 0 20px;
    padding-top: 30px;
}
.site-title a:hover {
    text-decoration: none;
}

.content {
    display: block;
}

.memory-container {
    background: rgba(145,216,255,1);
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;
    padding-bottom: 24px;
    padding-top: 8px;
}

.memory-description {
    margin: 80px;
}

.memory-description p {
    padding-top: 16px;
}

.memory-start-button {
    background-color: rgb(255, 209, 84);
    border: none;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.9;
}

.memory-start-button:hover {
    opacity: 1
}

.memory-description p {
    font-weight: bold;
}

.leaderboard-contents-memory {
    border: 2px solid black;
    display: inline-block;
    justify-content: center;
    padding: 16px;
    margin: 16px;
}

.activity-history-contents {
    border: 2px solid black;
    display: inline-block;
    justify-content: center;
    padding: 16px;
    margin: 16px;
}

.leaderboard-container {
    padding-top: 16px;
    justify-content: center;
    text-align: center;
}

h2 {
    margin: 0px;
    text-decoration: underline;
}

.background-info {
    border: 2px solid black;
}

#dashboard-button {
    position: fixed;
    right: 30px;
    bottom: 30px;
    height: 60px;
    width: 60px;
    border: none;
    border-radius: 30px;
    font-size: 36px;
    background-color: #f67811;
    color: #fff;
    cursor: pointer;
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.25);
  }
