<div id="subtitle-container">
    <h3 id="subtitle"> Test your... </h3>
</div>  

<div id="button-container">  
    <ul>
        <a href = "/reaction">
            <button class = "testing-button" id = "reaction-button" > Reaction </button>
        </a>

        <a href = "/memory">
            <button class = "testing-button" id = "memory-button"> Memory </button>
        </a>
    </ul>    
</div>
