<main class="content">
    <div class = "not-hidden">

    <div id="reaction-subtitle-container">
        <h3 id="reaction-subtitle">Click the square when it turns green</h3>
    </div>

    <div id = "start-button-container" class = "color-box">
        <button id="reaction-start-button"> Start </button>
    </div>

    <div class = username-and-time-box>
        <div class = "time-box">
        <h3 class = "time"> Time: </h3>
        <h3 id = "time-output"></h3>
        </div>

        {{!-- <div class = "username-container">
            <label for = "username" class="user-input-label">Username</label>
        <div class= "username-input-element">
            <input type="text" name = "username-input" id="username-text">
        </div>

        <div id = "username-button">
            <button id = "submit-username-button"> Submit </button>
        </div> --}}
    </div>

    <div class = "standings-contents">

        <div class = "leaderboard-contents">

        <div id = "leaderboard-title">
            <h2> Leaderboard </h2>
        </div>

        <div class = "place-box">
            <ol>
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>
            <li> </li>
        </ol>
        </div>
        </div>

        <div class = "log-contents">
            <div id = "log-title">
            <h2> Personal Log </h2>
            </div>

            <div class = "log-box">
            <ol id="log-list">
            </ol>
            </div>
        </div>
    </div>
    </div>
    <div id = "hidden">
    </div>
    <div id = "green-hidden">
    </div>
</main>