<main class="content">
    <div class = "not-hidden">

    <div id="reaction-subtitle-container">
        <h3 id="reaction-subtitle">Click the square when it turns green</h3>
    </div>

    <div id = "start-button-container" class = "color-box">
        <button id="reaction-start-button"> Start </button>
    </div>

    <div class = "username-and-time-box">
        <div class = "time-box">
        <h3 class = "time"> Time: </h3>
        <h3 id = "time-output"></h3>
    </div>

    <div id="modal-backdrop" class="hidden">
        <div id="modal-username-input" class="hidden">
            <div class="modal-dialog">
                <div class="modal-header">
                    <button type="button" id="modal-close" class="modal-hide-button">&times</button>
                    <h3>Save your score by signing your name!</h3>
                </div>

                <div class="modal-body">
                    <div class="username-input-element">
                        <label for="username-input" id="username-label">Username:</label>
                        <input type="text" name="username-input-element" id="username-input-element" class="username-input" placeholder= "Enter your name here">
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="modal-cancel" class="modal-hide-button action-button">Cancel</button>
                    <button type="button" id="modal-submit" class="submit-button">Submit</button>
                </div>
            </div>
        </div>  
    </div>

    <div class = "standings-contents">
        <div class = "leaderboard-contents">

            <div id = "leaderboard-title">
                <h2> {{test}} Leaderboard </h2>
            </div>

            <div class = "place-box">
                <ol id="board-list">
                    {{#each globalLeaderboard}}
                        {{> leaderboardItem}}
                    {{/each}}
                </ol>
            </div>
        </div>

        <div class = "log-contents">
            <div id = "log-title">
                <h2> {{test}} Personal Log </h2>
            </div>

            <div class = "log-box">
                <ol id="log-list">
                    {{#each personalLog}}
                        {{> leaderboardItem}}
                    {{/each}}
                </ol>
            </div>
        </div>
    </div>
    
    </div>
    <div id = "hidden">
    </div>
    <div id = "green-hidden">
    </div>
</main>