body {
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(0deg, rgba(145,216,255,1) 0%, rgba(255,255,255,1) 100%) fixed;
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    background-color: #FEC675;
    height: 130px;
    margin-top: 0px;
    padding: 0px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
}

.header h1 {
    color: white;
    font-weight: 400;
    font-size: 50px;
    margin: 0px;
    /* padding: 20px; */
    display: inline-block;
}

#icon-container {
    color: white;
    display: inline-block;
    padding: 20px 30px;
}

.fa-user {
    font-size: 75px;
    color: white;
}

#subtitle-container {
    height: 50px;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#subtitle {
    font-weight: bold;
    font-size: 80px;
    color: #FEC675;
}

#button-container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testing-button {
    height: 150px;
    width: 450px;
    margin: 60px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 30px;
    border: 0px;
    background-color: #5E9AF1;
    color: white;
}

.testing-button:hover {
    background-color: lightgray;
    color: #5E9AF1;
    cursor: pointer;
}

.testing-button a
{
    text-decoration: none;
    color: white;
}

.testing-button:hover a
{
    text-decoration: none;
    color: #5E9AF1;
}

/*************************
    reaction.html CSS
*************************/

#reaction-subtitle-container
{
    height: 50px;
    margin-top: 75px;
    margin-bottom: 50px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reaction-subtitle
{
    font-weight: bold;
    font-size: 50px;
    color: #FEC675;
}

#start-button-container
{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#reaction-start-button
{
    height: 100px;
    width: 400px;
    margin: 60px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 30px;
    border: 0px;
    background-color: #5E9AF1;
    color: white;
}

#reaction-start-button:hover
{
    background-color: lightgray;
    color: #5E9AF1;
    cursor: pointer;
}

.time-box
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.time
{
    font-size: 25px;
    padding: 5px;
}

#time-output
{
    font-size: 25px;
    padding: 5px;
}


.username-container
{
    border: 0px;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.user-input-label
{
    padding-right: 5px;
    font-size: 20px;
}

#username-button
{
    padding-left: 10px;
}

#submit-username-button
{
    height: 20px;
    width: 60px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;
    border: 0px;
    background-color: #5E9AF1;
    color: white;
}

#submit-username-button:hover
{
    background-color: lightgray;
    color: #5E9AF1;
    cursor: pointer;
}

.leaderboard-contents
{
    margin: 20px;
    padding: 20px;
    border: 0px;
}

.log-contents
{
    margin: 20px;
    padding: 20px;
    border: 0px;
}

.place-box
{
  font-size: 25px;
  line-height: 2;
}

.log-box
{
  font-size: 25px;
  line-height: 2;
}

#green-hidden {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #5fc64f;
}

#hidden {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #bf0000;
}

/*************************
    memory.html CSS
*************************/
#hiddenBlack {
    margin-top: 130px;
    text-align: center;
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#wordDisplay {
    top: 40%;
    font-size: 40px;
    position: relative;
    justify-content: center;
    align-items: center;
    color: white;
}

#seenUnseenModal {
    margin-top: 40%;
    text-align: center;
    color: white;
    position: relative;
    z-index: 1001;
}

#modal-seen {
    height: 100px;
    width: 400px;
    margin: 60px;
    margin-top: 0px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 30px;
    border: 0px;
    background-color: #5E9AF1;
    color: white;
}

#modal-new {
    height: 100px;
    width: 400px;
    margin: 60px;
    margin-top: 0px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 30px;
    border: 0px;
    background-color: #5E9AF1;
    color: white;
    position: relative;
}

img {
    display: block;
}

.hidden {
    display: none;
}

header {
    background-color: #FEC675;
    display: flex;
    align-items: center;
    position: relative;
}

header a {
    color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.site-title {
    text-decoration: none;
    font-size: 50px;
    font-weight: 400;
    margin: 0 0 0 20px;
    padding-top: 30px;
}
.site-title a:hover {
    text-decoration: none;
}

.content {
    display: block;
}

.memory-container {
    /* background: rgba(145,216,255,1); */
    display: flex;
    justify-content: center;
    position: relative;
    text-align: center;
    align-items: center;
    padding-bottom: 24px;
    padding-top: 8px;
}

.memory-description {
    margin: 80px;
}

.memory-description p {
    padding-top: 16px;
    font-weight: bold;
    font-size: 36px;
    color: #FEC675;
}

#memory-start-button {
    /* background-color: rgb(255, 209, 84);
    border: none;
    color: black;
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    transition: 0.2s;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.9; */
    height: 100px;
    width: 400px;
    margin: 60px;
    margin-top: 0px;
    font-size: 70px;
    font-weight: bold;
    border-radius: 30px;
    border: 0px;
    background-color: #5E9AF1;
    color: white;
}

#memory-start-button:hover {
    /* opacity: 1 */
    background-color: lightgray;
    color: #5E9AF1;
    cursor: pointer;
}

.memory-description p {
    font-weight: bold;
}

.leaderboard-contents-memory {
    border: 2px solid black;
    display: inline-block;
    justify-content: center;
    padding: 16px;
    margin: 16px;
}

.activity-history-contents {
    border: 2px solid black;
    display: inline-block;
    justify-content: center;
    padding: 16px;
    margin: 16px;
}

.leaderboard-container {
    padding-top: 16px;
    justify-content: center;
    text-align: center;
}

h2 {
    margin: 0px;
    text-decoration: underline;
}

.background-info {
    border: 2px solid black;
}

/*************************
    404.html CSS
*************************/

.error-container {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
  }

  .error-container h2 {
    font-size: 128px;
    text-decoration: none;
    margin-top: 50px;
    margin-bottom: 0;
  }

  .error-container h3 {
    font-size: 32px;
    margin: 0;
  }

  /*
    modal stuff
  */
  .hidden {
      display: none;
  }

  #modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.85);
  }

  #modal-username-input {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .modal-header {
    position: relative;
    padding: 30px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-header h3 {
    margin: 0;
    font-size: 20px;
    padding: 20px;
    color: #5E9AF1;
  }

  .modal-body {
    position: relative;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modal-footer {
    position: relative;
    padding: 35px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #modal-close {
      background-color: lightgray;
      color: #fff;
      border-radius: 5px;
      border: none;
      width: 30px;
      height: 30px;
      font-size: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #modal-close:hover {
      cursor: pointer;
  }

  #username-label {
    color: #5E9AF1;
    font-size: 20px;
  }

  .username-input {
    border: .5px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    margin-left: 10px;
    width: 250px;
  }

  #modal-cancel {
    background-color: lightgray;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 120px;
    height: auto;
    padding: 15px 5px;
    margin: 20px 20px 0px 0px;
  }

  #modal-cancel:hover {
    cursor: pointer;
}

  #modal-submit {
    background-color: #FEC675;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    width: 120px;
    height: auto;
    padding: 15px 5px;
    margin: 20px 0px 0px 20px;
  }

  #modal-submit:hover {
    cursor: pointer;
}
